<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="number">
		<div class="space"></div>
		<h4 v-for="i in 12">{{number}} x {{i}} = {{total[i]}}</h4>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 0,
				total : [0],
			},
			watch:{
				number : function (newVal,oldVal){
					console.log("newVal -> "+newVal)
					console.log("oldVal -> "+oldVal)
					this.total = [0]
					for (i = 1; i <= 12 ; i++) {
						this.total.push(i*newVal)
					}
				}
			}
		})

		app.number = 2
	</script>
</body>
</html>