<!DOCTYPE html>
<html>

<head>
  <title>Lab - Multimedia Programming 2563 ITKMITL</title>
  <link rel=stylesheet href="../src/reset.css">
  <link rel=stylesheet href="lab.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="paper">
  <div id="app">
    <p>สูตรคุณแม่ {{n}}</p>
    <input type="number" v-on:click="negCheck" v-model="n">
    <input type="number" v-on:click="negCheck" v-model="r">
    <ul>
      <span v-for="(item, index) in ans">
        {{n}} x {{index}} = {{item}}<br>
      </span>
    </ul>
  </div>

  <script>
    let app = new Vue({
      el: '#app',
      data: {
        n: 0,
        r: 0,
        ans: []
      },
      methods: {
        negCheck(){
          if (this.n>=0 && this.r>=0){
            this.posCalculate()
          }
          else{this.negCalculate()}
        },
        posCalculate() {
          tempAns = [];
          // if pos or neg
          for (i = 0; i <= this.r; i++) {
            tempAns.push(parseInt(this.n) * parseInt(i));
          }
          this.ans = tempAns;
        },
        negCalculate() {
          tempAns = [];
          // if pos or neg
          for (i = 0; i < this.r; i++) {
            tempAns.push(parseInt(this.n) * parseInt(i));
          }
          this.ans = tempAns;
        }
      }
    })


  </script>
</body>

</html>