<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="number">
		<input type="number" v-model="size">
		<div class="space"></div>
		<h4 v-for="i in sizeInt">{{number}} x {{i}} = {{total[i]}}</h4>
		<h2>Sum: {{sum}}</h2>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 0,
				size:12,
				sizeInt:12,
				total : [0,1],
			},
			computed :{
				sum : function (){
					let sum = 0;
					for(let k of this.total){
						sum += parseInt(k)
					}
					return sum
				}
			},
			watch:{
				number : function (){
					this.cal()
				},
				size : function(val){
					this.sizeInt = parseInt(val)
					this.cal()
				}
			},
			methods:{
				cal : function() {
					this.total = [0]
					for (i = 1; i <= this.sizeInt ; i++) {
						this.total.push(i*this.number)
					}
				}
			}
		})
		app.number = 2;
	</script>
</body>
</html>